@import '../components.scss';
footer{
    padding:0 35px;
    position: relative;
    @media(max-width:820px){
        padding:0 20px;
    }
    .section_wrapper{
        padding:30px 0;
        justify-content: space-between;
        @media(max-width:820px){
            flex-direction: column;
        }
        .copyright{
            @extend .body_text; 
            color:#FFFFFF99; 
            @media(max-width:820px){
                margin-bottom:7vw;
            }          
        }
        ul{
            list-style: none;
            @extend .d_flex;
            li{
                color:#FFFFFF99; 
                cursor: pointer;
                +li{
                    margin-left:40px;
                }
            }
        }
    }
}